{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>QpiAI Job & Opportunities</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="Stylesheet" href="assets/css/style2.css">

</head>

<section class="blog-standard-area pt-140 pb-40 rpt-100 rpb-90">
    <!-- Slider Section Start -->
            <div class="container-c container">
                <div class="slider-content text-center">
                    <h2 class="title">Current Openings</h2>
                    <span class="ResAts__card-subtitle">Thanks for checking out our job openings. See something that interests you? Apply here</span>
                </div>
            </div>
    
    <!-- Slider Section End -->

    <!-- Recent Jobs Start -->
    <div class="section section-padding container">
        <div class="container-c">
            <!-- Job List Wrap Start -->
              <div class="job-list-wrap">

                <!-- Job List Start -->
                <a href="#" class="job-list row">
                    <div class="salary-type col-auto order-sm-3">
                        <!-- <span class="salary-range">$5000 - $8000</span> -->
                        <span class="badge bg-success text-white">Full Time</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">Full Stack Backend Developer</h6>
                        <ul class="meta">
                            <li><i class="fa fa-map-marker"></i>QpiAI India Pvt. Ltd</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start -->

                <!-- Job List Start -->
                <a href="#" class="job-list row">
                    <div class="salary-type col-auto order-sm-3">
                        <!-- <span class="salary-range">$5000 - $8000</span> -->
                        <span class="badge bg-success text-white">Full Time</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">Data Scientist - MLops</h6>
                        <ul class="meta">
                            <li><i class="fa fa-map-marker"></i>QpiAI India Pvt. Ltd</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start -->
                
                <!-- Job List Start -->
                <a href="#" class="job-list row">
                    <div class="salary-type col-auto order-sm-3">
                        <!-- <span class="salary-range">$5000 - $8000</span> -->
                        <span class="badge bg-success text-white">Full Time</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">CV Engineer</h6>
                        <ul class="meta">
                            <li><i class="fa fa-map-marker"></i>QpiAI India Pvt. Ltd</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start -->

                <!-- Job List Start -->
                <a href="#" class="job-list row">
                    <div class="salary-type col-auto order-sm-3">
                        <!-- <span class="salary-range">$5000 - $8000</span> -->
                        <span class="badge bg-success text-white">Full Time</span>
                    </div>
                    <div class="content col">
                        <h6 class="title">Analog Engineer</h6>
                        <ul class="meta">
                            <li><i class="fa fa-map-marker"></i>QpiAI India Pvt. Ltd</li>
                        </ul>
                    </div>
                </a>
                <!-- Job List Start -->

             </div>
             
            <!-- Job List Wrap Start -->

        </div>
    </div>
    <div></div>
    <!-- Recent Jobs End -->

</section>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.parallax.js"></script>
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.scrollUp.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>

{% endblock content %}