{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
      <!--====== Blog Details Start ======-->
        <section class="blog-details-area pt-130 pb-160 rpt-100 rpb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-content rmb-75">
                            <div class="blog-standard-item">
                                <h1>QpiAI Pro Makes It to the NASSCOM Emerge 50 2021 League</h1>
                                <ul class="blog-meta" style="margin-top: 30px;">
                                    <li><i class="far fa-calendar-alt"></i>May 11, 2020</li>
                                </ul>
                                <p><img src="assets/images/event1/image-1.png"></p>
                                <p><a href="https://qpiai.tech/" style="color:#CD3298;">QpiAI India Pvt. Ltd.</a> celebrates their win in the NASSCOM Emerge 50 2021. One of their most significant products, QpiAI Pro has been recognized in the Enterprise Category in a virtual award ceremony held on 21st January 2022.</p>
                                <p>NASSCOM Emerge 50 brings together India’s innovative product companies to honour the latest developments in the Indian Software market each year. In 2021, the NASSCOM jury was in pursuit of products that are <a href="https://nasscom.in/emerge50/pdf/NASSCOM-Emerge-50-2021-Booklet.pdf" style="color:#CD3298;">“World Class From India”.</a></p>
                                <p>Amongst more than 700 applications across 10 categories, QpiAI Pro stood out as one of the top 50 products who are driving innovation for emerging global markets.</p>
                                <p><a href="https://qpiai-pro.tech/" style="color:#CD3298;">QpiAI Pro</a> is an enterprise Auto-ML solution that automates the end-to-end process of applying AI to real world problems. Through patented technology, they enable businesses to transform their data warehouses into repositories of revenue.</p>
                                <p>Founder, CEO and Chairman of QpiAI India Pvt. Ltd., Dr.Nagendra Nagaraja expresses his gratitude towards NASSCOM for recognizing their contributions in the AI/ML industry. He says, “We thank NASSCOM for selecting us. This is a great recognition. QpiAI-pro will be a world leading Data and AI platform with Quantum support. This should help convert data to intelligence at scale.”</p>
                                <p>Mr.Sachin Kumar, the Senior Director at QpiAI is leading the efforts on building their flagship end-to-end AutoML, MLOps and Quantum modelling platform—QpiAI Pro. Mr.Sachin, supported by a team of 20 talented AI professionals, are developing this game-changing collaborative platform. He says, “Moving the AI models to production and managing complex post-deployment operations has long been a challenge for organizations which utilize AI in a myriad of ways to achieve their business outcomes. QpiAI Pro not only manages the end-to-end creation, deployment and post-deployment monitoring; but also fosters discovery and collaboration of AI solutions across domains, creating synergies in various stages of the development pipeline. We thank NASSCOM for this early recognition, our team is committed to deliver the new innovations to our customers keeping with the latest advancements in AI research.”</p>
                                <p>The QpiAI team is delighted to win the NASSCOM Emerge 50 alongside pioneering products like assist365, Leegality, Compliance-Scope and Unbox Robotics. Their product QpiAI Pro stands out among competitors by creating benchmarking models that are upto 60% smaller and 40% faster.</p>
                                <p>QpiAI Pro now plans to expand its boundaries by deploying their solutions across industries like Manufacturing, Finance , security, retail and transportation. In the coming months, team QpiAI intends to provide cloud based access to the developer community and enable QpiAI Marketplace for AI models and AI solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="blog-sidebar">
                            <div class="widget call-action-widget wow fadeInUp delay-0-2s">
                                <h3>For More</h3>
                                <span class="h2">Information</span>
                                <div class="action-btn"><a href="contact" class="theme-btn">contact us <i class="fas fa-arrow-right"></i></a></div>
                                <a class="number" href="mailto:info@qpiai.tech">info@qpiai.tech</a>
                                <!-- <img class="action-man" src="assets/images/widgets/call-to-action.png" alt="Call To Action"> -->
                                <img class="dots-shape slideUpDown" src="assets/images/shapes/white-dots-two.png" alt="Shape">
                                <img class="circle-shape slideUpRight" src="assets/images/shapes/circle.png" alt="Shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== Blog Details End ======-->
        {% endblock content %}