{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<!--====== Projects Section Start ======-->
<section class="projects-details-section pt-120 rpt-100 rpb-75">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                 <div class="hero-content mb-55">
                    <!-- <h2 class="mb-15 wow fadeInUp delay-0-4s" style="color: #031C46;">Hardware: </h2> -->
                    <h2 class="mb-15 wow fadeInUp delay-0-4s" style="color: #031C46;">Quantum Computing Architecture</h2>
                    <h2 class="mb-15 wow fadeInUp delay-0-4s"><span class="auto-type-hardware" style="color: #CD3298;"></span></h2></span>
                    
                </div>
            </div>
        </div>
        <div class="project-details-content">
            <div class="image mb-55 wow fadeInUp delay-0-2s" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                
                <img src="assets/images/Products/hardware_2.png" alt="Project Single">
            </div>
            <div class="row pb-30">
                <div class="col-lg-4">
                    <div class="project-information bg-blue text-white mb-50 mr-xl-5 wow fadeInDown delay-0-2s">
                        <h3 class="project-info-title">Project Info</h3>
                        <div class="project-info-item">
                            <span>Category</span>
                            <h4>Quantum Hardware</h4>
                        </div>
                        <div class="project-info-item">
                            <span>Products</span>
                            <h4>QpiAI Quantum Hardware</h4>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="project-content-one mr-xl-5 wow fadeInUp delay-0-2s">
                        <h2>Introduction</h2>
                        <p class="big-letter">
                            Realization of the full potential of quantum advantage will require thousands if not millions of qubits, all working in unison. 
                            One of the key challenges in developing such a practical quantum computer is the scalability of the hardware. 
                            Scalability refers to not only an increase in the number of qubits but also a scalable interface with the classical control hardware which is required to do operations on those qubits. 
                            We at QpiAI are poised to change this with the introduction of our  modular systems which are fully customizable for your application.
                            
                            </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== Projects Section End ======-->

<!--====== Services Solutions Start ======-->
<section class="services-solutions rel z-1 py-60 rpy-100">
    <div class="container">
       <div class="row justify-content-center text-center">
           <div class="col-xl-8 col-lg-10 ">
               <div class="section-title mb-60">
                    <!-- <span class="sub-title">Our Special Solutions</span> -->
                    <h2>Accelerating the NEXT <br> Evolutionary Step in Computing</h2>
                </div>
           </div>
       </div>
        <div class="solutions-tab">
            <div class="row">
                <div class="col-xl-4">
                    <ul class="nav solutions-tab-nav nav-pills flex-xl-column nav-fill mb-50 wow fadeInUp delay-0-2s">
                        
                        
                        
                        
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Sense">
                               
                                <div class="content">
                                    <h3>QpiAI Sense<sup>&trade;</sup></h3>
                                    <p>Quantum Control Electronics</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#trion">
                               
                                <div class="content">
                                    <h3>QpiAI Trion</h3>
                                    <p>Universal Optimisation Processor</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#bumblebee">
                                
                                <div class="content">
                                    <h3>QpiAI Bumblebee</h3>
                                    <p>Cryogenic controller</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comments">
                              
                                <div class="content">
                                    <h3>QpiAI Optimusprime</h3>
                                    <p>Si-MOS Spin Qubit Quantum Processor</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8">
                    <div class="tab-content solutions-tab-content wow ">
                        
                        <div class="tab-pane fade show active container " id="Sense">
                            <div class="row">
                                <div class="col-xl-6">
                                    <h1 class="mb-15 mt-20" style="font-size: 56px; color: #031C46;">QpiAI Sense<sup>&trade;</sup></h1>
                                    <h3>High speed Integrated control and readout electronics for quantum systems.</h3>
                                </div>
                                <div class="col-xl-6">
                                    <img src="assets/images/Products/hardware/sense.jpg" style="height: 300px;
                                    width: 400px;"class="mx-auto" alt="About">
                                </div>
                                
                               
                              </div>  
                            <div class="project-content-one mr-xl-5 ">
                                <p>QpiAI Sense<sup>&trade;</sup> is a combined scalable and modular control hardware as well as a software solution to have intuitive control of qubits and quantum key
                                      distribution (QKD) system through a small form factor device at room temperature.
                                       It interfaces through the Qpi ExplorerTM software for an 
                                       intuitive implementation of the algorithm using a graphical user interface for the user. 
                                       
                                       For QKD systems, modules for signal generation for laser control and detector signal acquisition, high speed quantum random generator, key extraction module, voltage-controlled polarization adjustment are provided.
                                </p>
                                <ul class="list-style-one">
                                    <li>Control and readout of upto 16 qubits.</li>
                                    <li>Trigger to AWG pulse &lt;40ns.</li>
                                    <li>Feedback Latency &lt;100ns.</li>
                                    <li>Capability for Quantum Error Correction and Error mitigation.</li>
                                </ul>

                            </div>
                        </div>
                        <div class=" tab-pane fade container" id="trion">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <h1 class="mb-15 mt-20" style="color: #031C46;">QpiAI Trion</h1>
                                    <h3>Universal Optimisation Processor</h3>
                                </div>
                                <div class="col-xl-6">
                                    <img src="assets/images/Products/hardware/trion.png" style="height: 300px;
                                    width: 400px;"class="mx-auto" alt="About">
                                </div>
                                
                               
                              </div>
                            
                            <div class="project-content-one mr-xl-5 ">
                              
                                
                                <p class="">
                                    Trion is a high-performance, low-power universal optimiser
                                    chip designed to support both classical and quantum
                                    optimization workloads. Trion intelligently decides offloading
                                    any optimization workloads to either quantum or classical or
                                    hybrid processing through QpiAI patented Intelligent
                                    optimization controller.
                                    </p>
                            </div>
                            
                            <ul class="list-style-one">
                                <li><b></b>Solves Classical Optimization Problems Faster than CPUs and GPUs while consuming only a fraction of the power</li>
                                <li><b></b>Links with QpiAI’s Classical-Quantum Hybrid Computing Stack and leverages the power of Quantum Computing</li>
                                <li><b></b>Utilizes Gather and Scatter Process for faster convergence by the Optimization Unit</li>
                                <li><b></b>Programmable and Highly Scalable Technology to meet the needs of the AI & Quantum Era</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade container" id="bumblebee">
                            <div class="row">
                                <div class="col-xl-6">
                                   <h1 class="mb-15 mt-20" style="color: #031C46;">QpiAI Bumblebee</h1> 
                                   <h3>Dual-Purpose Innovation For<br>
                                    Superconducting and Semiconducting
                                    Qubits</h3>
                                </div>
                                <div class="col-xl-6">
                                    <img src="assets/images/Products/hardware/bumble.png" style="height: 300px;
                                    width: 400px;"class="mx-auto" alt="About">
                                </div>
                                
                               
                              </div> 
                            
                            
                            <div class="project-content-one mr-xl-5 ">
                                
                                <p class="">
                                    Bumblebee is a cryogenic controller and a classical interface to
                                        qubit technologies operating at milliKelvin temperatures. It
                                        consists of various programmable analog front end electronics
                                        in CMOS for controlling and reading out superconducting as
                                        well as semiconducting qubits.
                                    </p>
                            </div>
                            
                            <ul class="list-style-one">
                                <li><b>Operating at 4K</b>, the controller can be tuned for a multitude of
                                    applications.</li>
                                <li><strong>Compact and noise free </strong> &nbsp; solution for scaling up of quantum
                                    computers.</li>
                                <li><b>Offers high performance </b>&nbsp; analog interface for cryogenic
                                    temperatures.</li> 
                                <li><b>Wideband frequency operation</b>&nbsp;  with integrated I/Q mixer.</li>
                                
                                    
                                
                            </ul>
                        </div>
                        <div class="tab-pane fade container " id="comments">


                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                     <h1 class="mb-15 mt-20" style="font-size:56px; color: #031C46;">QpiAI Optimusprime</h1>
                                     <h3>Ingenious Si-MOS Spin Qubit Quantum Processor</h3>
                                 </div>
                                <div class="col-xl-6">
                                    <img src="assets/images/Products/hardware/Optimus-Prime.png" style="height: 300px; width: 400px;" class="mx-auto" alt="About">
                                 </div>
                          </div>



                            
                         
                            <div class="project-content-one mr-xl-5" >
                                
                                <p class="">
                                    Optimusprime is a Quantum Processing Unit (QPU) based on
                                    spin qubits in gate-defined Si-MOS quantum dots.
                                    Optimusprime pursues an all-silicon approach based on
                                    standard CMOS technology for the integration of a large
                                    number of well defined and interconnected Si-MOS quantum
                                    dots.
                                    </p>
                            </div>
                            <h3>Forefronting the Quantum Era</h3>

                            <ul class="list-style-one">
                                <li>Silicon spin qubits in gate-defined quantum dot devices have
                                    the capability of achieving long qubit coherence time in the
                                    order of 1-20 milliseconds.</li>
                                <li>The dimension of a single spin qubit is in the range of 70
                                    nm-100 nm, allowing the possibility of large-scale integration
                                    of millions of qubits within a chip having a dimension of
                                    70-100mm.</li>
                                <li>Spin qubits in silicon that are operated at temperatures at
                                    10mK also have the potential to be operated up to 4K. This can
                                    be used to integrate classical CMOS control circuits with an
                                    array of quantum dots on the same silicon die.</li>
                               
                                    
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Services Solutions End ======-->
{% endblock content %}