{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<!--====== Projects Section Start ======-->
<section class="projects-details-section pt-120 rpt-100 rpb-75">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="hero-content mb-55">
                     <h2 class="mb-15 wow fadeInUp delay-0-4s" style="color: #031C46;">Build The Future Of Intelligence</h2>
                     <h2 class="mb-15 wow fadeInUp delay-0-4s"><span class="auto-type-ML" style="color: #CD3298;"></span></h2>
                 </div>
            </div>
        </div>
        <div class="project-details-content">
            <div class="image mb-55 wow fadeInUp delay-0-2s" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                <img src="assets/images/Products/Ml.png" alt="Project Single">
            </div>
            <div class="row pb-30">
                <div class="col-lg-4">
                    <div class="project-information bg-blue text-white mb-50 mr-xl-5 wow fadeInDown delay-0-2s">
                        <h3 class="project-info-title">Project Info</h3>
                        <div class="project-info-item">
                            <span>Category</span>
                            <h4>Software</h4>
                        </div>
                        <div class="project-info-item">
                            <span>Project Name</span>
                            <h4>QpiAI ML</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="project-content-one mr-xl-5 wow fadeInUp delay-0-2s">
                        <p class="big-letter">QpiAI ML gives your AI a Quantum edge by combining bits, qubits and neurons to build the future of intelligence. Our quantum machine learning tool simplifies the development of quantum models and provides seamless access to quantum hardware backends. Explore the advantages of quantum machine learning applied to your problems. Integrate with your existing pipelines to build fully-featured applications.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== Projects Section End ======-->

<!--====== Services Solutions Start ======-->
<section class="services-solutions rel z-1 pt-40 pb-120 rpy-100">
    <div class="container">
       <div class="row justify-content-center text-center">
           <div class="col-xl-6 col-lg-8 col-md-10">
               <div class="section-title mb-60">
                    <span class="sub-title">Our Special Solutions</span>
                    <h2>Unlock The Power Of</h2>
                    <h3>Bits, Neurons, and Qubits</h3>
                </div>
           </div>
       </div>
        <div class="solutions-tab">
            <div class="row">
                <div class="col-xl-4">
                    <ul class="nav solutions-tab-nav nav-pills flex-xl-column nav-fill mb-50 wow fadeInUp delay-0-2s">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#watching">
                                
                                <div class="content">
                                    <h3>Our Routing Software</h3>
                                    <p>Game Changing Features</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sharing">
                                
                                <div class="content">
                                    <h3>Powerful Functionalities</h3>
                                    <p>At tip of your fingure</p>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editing">
                                <i class="flaticon-edit"></i>
                                <div class="content">
                                    <h3>Collaborative Editing</h3>
                                    <p>Professional Software Solutions</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comments">
                                <i class="flaticon-chat"></i>
                                <div class="content">
                                    <h3>Mentors & Comments</h3>
                                    <p>Professional Software Solutions</p>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-xl-8 container">
                    <div class="tab-content solutions-tab-content wow fadeInUp delay-0-4s">
                        <div class="tab-pane fade show active container" id="watching">
                            <div class="row mt-55">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-2s">
                                        <i class="flaticon-data-analysis"></i>
                                        <h3>Hybrid Models</h3>
                                        <p>Build hybrid models to squeeze maximum advantage today.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-4s">
                                        <i class="flaticon-monitoring"></i>
                                        <h3>Seamless integration</h3>
                                        <p>Integrate our simulation solver to your existing workflows via robust, scalable, and secure APIs. Run over the cloud or on-premises clusters.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-6s">
                                        <i class="flaticon-fast-delivery"></i>
                                        <h3>Composable Workflow</h3>
                                        <p>Compose workflows combining Classical Simulations, Machine Learning and Quantum/Quantum-Inspired Computing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sharing">
                            <ul class="list-style-one">
                                <li>Quantum Machine Learning</li>
                                <p>Choose from a rich library of pre-built Quantum Machine Learning Models and adapt for your use case. We support quantum-accelerated linear algebra procedures, parameterized quantum circuits, and tensor-networks based models.</p>
                                <li>Build your own Models</li>
                                <p>Seamlessly build your own models by composing our Quantum Building Blocks. Create custom quantum models and integrate them with existing pipelines.</p>
                                <li>Hybrid Models</li>
                                <p>Combine Classical and Quantum Models to squeeze maximum advantage out of current-generation Quantum Computers.</p>
                                <li>Composable Workflows</li>
                                <p>Our services are containerised applications that can be easily composed to form unique workflows combining data pipelines, training and inference. These workflows can be orchestrated seamlessly on major public and private cloud infrastructures.</p>
                            </ul>
                        </div>
                        <!-- <div class="tab-pane fade" id="editing">
                            <img src="assets/images/dashboard-screenshots/dashboard-screenshot2.jpg" alt="Dashboard">
                        </div>
                        <div class="tab-pane fade" id="comments">
                            <img src="assets/images/dashboard-screenshots/dashboard-screenshot3.jpg" alt="Dashboard">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Services Solutions End ======-->
{% endblock content %}