
{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

<!--====== News Standard Start ======-->
<section class="blog-standard-area pt-120 pb-160 rpt-100 rpb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-standard-wrap rmb-75">
                    <div class="container">
                        <div class="row align-items-top">
                            <!-- news 1 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/paymentsjournal.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.paymentsjournal.com/"><i style="color:#CD3298;">Featured on: </i>  PaymentsJournal</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="https://www-paymentsjournal-com.cdn.ampproject.org/c/s/www.paymentsjournal.com/infosys-invests-in-quantum/amp/">13 April 2022</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www-paymentsjournal-com.cdn.ampproject.org/c/s/www.paymentsjournal.com/infosys-invests-in-quantum/amp/">Infosys Invests in Quantum</a></h4>
                                    </div>
                                    <a href="https://www-paymentsjournal-com.cdn.ampproject.org/c/s/www.paymentsjournal.com/infosys-invests-in-quantum/amp/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 1 end -->

                           <!-- news 2 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/business-wire-india.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.businesswireindia.com/"><i style="color:#CD3298;">Featured on: </i>  Businesswireindia</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="https://www.businesswireindia.com/qpiai-and-quantrolox-sign-a-mou-to-jointly-develop-india-s-first-25-qubit-quantum-computing-testbed-and-offerings-for-the-european-and-indian-markets-78291.html">13 April, 2022</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.businesswireindia.com/qpiai-and-quantrolox-sign-a-mou-to-jointly-develop-india-s-first-25-qubit-quantum-computing-testbed-and-offerings-for-the-european-and-indian-markets-78291.html">QpiAI and QuantrolOx Sign a MoU to Jointly Develop India’s First 25-Qubit Quantum Computing Testbed and Offerings for the European and Indian Markets</a></h4>
                                    </div>
                                    <a href="https://www.businesswireindia.com/qpiai-and-quantrolox-sign-a-mou-to-jointly-develop-india-s-first-25-qubit-quantum-computing-testbed-and-offerings-for-the-european-and-indian-markets-78291.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 2 end -->
                            
                            <!-- news 3 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/ani.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.aninews.in/"><i style="color:#CD3298;">Featured on: </i>  ANI</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="https://www.aninews.in/news/business/business/qpiai-takes-up-worlds-largest-ai-and-quantum-upskilling-effort-with-rs-499-plan-module-based-learning20211020110834/">20 October 2022</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.aninews.in/news/business/business/qpiai-takes-up-worlds-largest-ai-and-quantum-upskilling-effort-with-rs-499-plan-module-based-learning20211020110834/">QpiAI takes up world’s largest AI and Quantum upskilling effort with Rs 499 plan module based learning</a></h4>
                                    </div>
                                    <a href="https://www.aninews.in/news/business/business/qpiai-takes-up-worlds-largest-ai-and-quantum-upskilling-effort-with-rs-499-plan-module-based-learning20211020110834/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 3 end -->

                            <!-- news 4 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/aim.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://analyticsindiamag.com/"><i style="color:#CD3298;">Featured on: </i>  Analytics India Magazine</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="https://analyticsindiamag.com/top-data-science-providers-in-india-2021-penetration-and-maturity-pema-quadrant/">11 Aug 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://analyticsindiamag.com/top-data-science-providers-in-india-2021-penetration-and-maturity-pema-quadrant/">Top Data Science Providers in India 2021: Penetration and Maturity (PeMa) Quadrant</a></h4>
                                    </div>
                                    <a href="https://analyticsindiamag.com/top-data-science-providers-in-india-2021-penetration-and-maturity-pema-quadrant/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 4 end -->

                            <!-- news 5 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/the-print.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="assets/images/news/the-print.png"><i style="color:#CD3298;">Featured on: </i> The Print</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="https://theprint.in/ani-press-releases/qpiai-launches-a-global-ai-and-quantum-marketplace/695649/">14 July 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://theprint.in/ani-press-releases/qpiai-launches-a-global-ai-and-quantum-marketplace/695649/#">QpiAI launches a Global AI and Quantum marketplace</a></h4>
                                    </div>
                                    <a href="https://theprint.in/ani-press-releases/qpiai-launches-a-global-ai-and-quantum-marketplace/695649/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 5 end -->

                            <!-- news 6 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/livemint.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.livemint.com/"><i style="color:#CD3298;">Featured on: </i> Livemint</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">03 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.livemint.com/brand-post/superq-announces-high-temperature-superconducting-single-photon-detector-11620022571135.html">SuperQ announces high-temperature superconducting single photon detector</a></h4>
                                    </div>
                                    <a href="https://www.livemint.com/brand-post/superq-announces-high-temperature-superconducting-single-photon-detector-11620022571135.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 6 end -->

                            <!-- news 7 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/livemint.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.livemint.com/"><i style="color:#CD3298;">Featured on: </i>  Livemint</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">03 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.livemint.com/brand-post/qpi-technology-s-new-subsidiary-qpivolta-to-produce-solid-state-batteries-11620023641316.html">Qpi Technology’s new subsidiary, Qpivolta, to produce solid state batteries</a></h4>
                                    </div>
                                    <a href="https://www.livemint.com/brand-post/qpi-technology-s-new-subsidiary-qpivolta-to-produce-solid-state-batteries-11620023641316.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 7 end -->

                            <!-- news 8 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/ht.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.hindustantimes.com/"><i style="color:#CD3298;">Featured on: </i>  hindustantimes</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">03 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.hindustantimes.com/brand-post/qpi-technology-s-new-subsidiary-qpivolta-to-produce-solid-state-batteries-101620023208072.html">Qpi Technology’s new subsidiary, Qpivolta, to produce solid state batteries</a></h4>
                                    </div>
                                    <a href="https://www.hindustantimes.com/brand-post/qpi-technology-s-new-subsidiary-qpivolta-to-produce-solid-state-batteries-101620023208072.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 8 end -->
                            
                            <!-- news 9 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/business-wire-india.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.businesswireindia.com/"><i style="color:#CD3298;">Featured on: </i>  Businesswire</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">01 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.businesswireindia.com/superq-comes-out-of-stealth-mode-and-announces-high-temperature-super-conducting-single-photon-detector-and-super-conducting-motors-as-new-products-72752.html">SuperQ Comes out of Stealth Mode and Announces High Temperature Super Conducting Single Photon Detector and Super Conducting Motors as New Products</a></h4>
                                    </div>
                                    <a href="https://www.businesswireindia.com/superq-comes-out-of-stealth-mode-and-announces-high-temperature-super-conducting-single-photon-detector-and-super-conducting-motors-as-new-products-72752.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 9 end -->

                            <!-- news 10 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/business-wire-india.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.businesswireindia.com/"><i style="color:#CD3298;">Featured on: </i>  Businesswire</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">01 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.businesswireindia.com/qpi-technology-announces-new-subsidiary-qpivolta-with-disruptive-quantum-based-battery-technology-and-unveils-blueprint-of-giga-battery-manufacturing-facility-at-bangalore-72748.html">Qpi Technology Announces New Subsidiary Qpivolta With Disruptive Quantum Based Battery Technology and Unveils Blueprint of Giga Battery Manufacturing Facility at Bangalore</a></h4>
                                    </div>
                                    <a href="https://www.businesswireindia.com/qpi-technology-announces-new-subsidiary-qpivolta-with-disruptive-quantum-based-battery-technology-and-unveils-blueprint-of-giga-battery-manufacturing-facility-at-bangalore-72748.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 10 end -->

                            <!-- news 11 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/ani.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://analyticsindiamag.com/"><i style="color:#CD3298;">Featured on: </i>  AnalyticsIndia</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">01 May 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://analyticsindiamag.com/qpiai-partners-with-iisc-to-launch-joint-certification-ai-quantum-computing/">QpiAI Partners With IISc To Launch Joint Certification In AI & Quantum Computing</a></h4>
                                    </div>
                                    <a href="https://analyticsindiamag.com/qpiai-partners-with-iisc-to-launch-joint-certification-ai-quantum-computing/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 11 end -->

                            <!-- news 12 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/livemint.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.livemint.com/"><i style="color:#CD3298;">Featured on: </i>  Livemint</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">03 March 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.livemint.com/brand-post/qpiai-iisc-launch-joint-certification-for-ai-and-quantum-computing-11614767061284.html">QpiAI, IISc launch joint certification for AI and quantum computing</a></h4>
                                    </div>
                                    <a href="https://www.livemint.com/brand-post/qpiai-iisc-launch-joint-certification-for-ai-and-quantum-computing-11614767061284.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 12 end -->

                            <!-- news 13 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/business-wire-india.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.businesswireindia.com/"><i style="color:#CD3298;">Featured on: </i>  Businesswire</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">03 March 2021</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.businesswireindia.com/qpiai-in-partnership-with-iisc-launches-joint-certification-for-ai-and-quantum-computing-to-upskill-enterprises-schools-and-colleges-71780.html">QpiAI in Partnership With IISc Launches Joint Certification for AI and Quantum Computing to Upskill Enterprises, Schools and Colleges</a></h4>
                                    </div>
                                    <a href="https://www.businesswireindia.com/qpiai-in-partnership-with-iisc-launches-joint-certification-for-ai-and-quantum-computing-to-upskill-enterprises-schools-and-colleges-71780.html" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 13 end -->

                            <!-- news 14 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/iot.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://www.insidequantumtechnology.com/"><i style="color:#CD3298;">Featured on: </i>  Inside Quantum Technology</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">07 April 2020</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://www.insidequantumtechnology.com/news/indias-qpiai-tech-inventing-ai-system-generating-processor-to-overcome-shortcoming-of-current-quantum-computers/">India’s QpiAI Tech Inventing AI System Generating Processor to Overcome Shortcoming of Current Quantum Computers</a></h4>
                                    </div>
                                    <a href="https://www.insidequantumtechnology.com/news/indias-qpiai-tech-inventing-ai-system-generating-processor-to-overcome-shortcoming-of-current-quantum-computers/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 14 end -->

                            <!-- news 15 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/qz.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://quantumzeitgeist.com/"><i style="color:#CD3298;">Featured on: </i>  Quantum Zeitgeist</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">06 April 2020</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://quantumzeitgeist.com/this-startup-is-exploiting-the-new-normal-in-indian-quantum-computing/">This Startup is Exploiting the ‘New Normal’ in Indian Quantum Computing Scenario</a></h4>
                                    </div>
                                    <a href="https://quantumzeitgeist.com/this-startup-is-exploiting-the-new-normal-in-indian-quantum-computing/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 15 end -->

                            <!-- news 16 start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="blog-item wow fadeInUp delay-0-8s">
                                    <div class="image">
                                        <img src="assets/images/news/ani.png" alt="Blog">
                                    </div>
                                    <div class="blog-author">
                                        <h6><a href="https://analyticsindiamag.com/"><i style="color:#CD3298;">Featured on: </i>  Analytics India Magazine</a></h6>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="far fa-calendar-alt"></i> <a href="#">06 April 2020</a></li>
                                            <!-- <li><i class="far fa-comments"></i> <a href="#">Com (5)</a></li> -->
                                        </ul>
                                        <h4><a href="https://analyticsindiamag.com/this-startup-is-exploiting-the-new-normal-in-indian-quantum-computing-scenario/">This Startup is Exploiting the ‘New Normal’ in Indian Quantum Computing Scenario</a></h4>
                                    </div>
                                    <a href="https://analyticsindiamag.com/this-startup-is-exploiting-the-new-normal-in-indian-quantum-computing-scenario/" class="learn-more">Learn More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- news 16 end -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="blog-sidebar">
                    <div class="widget call-action-widget wow fadeInUp delay-0-2s">
                        <h3>For More</h3>
                        <span class="h2">Information</span>
                        <div class="action-btn"><a href="contact" class="theme-btn">contact us <i class="fas fa-arrow-right"></i></a></div>
                        <a class="number" href="mailto:info@qpiai.tech">info@qpiai.tech</a>
                        <!-- <img class="action-man" src="assets/images/widgets/call-to-action.png" alt="Call To Action"> -->
                        <img class="dots-shape slideUpDown" src="assets/images/shapes/white-dots-two.png" alt="Shape">
                        <img class="circle-shape slideUpRight" src="assets/images/shapes/circle.png" alt="Shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== News Standard End ======-->

{% endblock content %}