{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<!--====== Projects Section Start ======-->
<section class="projects-details-section pt-120 rpt-100 rpb-75">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                 <div class="hero-content mb-55">
                    <h2 class="mb-15 wow fadeInUp delay-0-4s" style="color: #031C46;">Quantum-inspired Optimization </h2>
                    <h2 class="mb-15 wow fadeInUp delay-0-4s">to <span class="auto-type-opt" style="color: #CD3298;"></span></h2>
                </div>
            </div>
        </div>
        <div class="project-details-content">
            <div class="image mb-55 wow fadeInUp delay-0-2s" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                <img src="assets/images/Products/Opt.png" alt="Project Single">
            </div>
            <div class="row pb-30">
                <div class="col-lg-4">
                    <div class="project-information bg-blue text-white mb-50 mr-xl-5 wow fadeInDown delay-0-2s">
                        <h3 class="project-info-title">QpiAI-Opt</h3>
                        <div class="project-info-item">
                            <span>Quantum-inspired Solver for</span>
                            <h4>Combinatorial Optimization</h4>
                        </div>
                        <div class="project-info-item">
                            <span>Performance Advantage</span>
                            <h4>Optimal, Fast, Scalable</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="project-content-one mr-xl-5 wow fadeInUp delay-0-2s">
                        <h2>Next-level optimization performance, Today.</h2>
                        <p class="big-letter">A product of deep innovation in quantum computing and mathematical optimization technology, QpiAI-Opt solves the most complex business problems that your industry faces, at scale, and in real-time. It is designed to solve real-world problems with production-ready software pipelines in place. The solutions can be seamlessly integrated in existing workflows or applications and deployed today. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== Projects Section End ======-->

<!--====== Services Solutions Start ======-->
<section class="services-solutions rel z-1 py-20 rpy-100">
    <div class="container">
       <div class="row justify-content-center text-center">
           <div class="col-xl-6 col-lg-8 col-md-10">
               <div class="section-title mb-60">
                    <span class="sub-title">Next-generation Optimization Technology</span>
                    <h2>Build to perform at scale, optimally.</h2>
                </div>
           </div>
       </div>
        <div class="solutions-tab pb-100">
            <div class="row">
                <div class="col-xl-4">
                    <ul class="nav solutions-tab-nav nav-pills flex-xl-column nav-fill mb-50 wow fadeInUp delay-0-2s">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#watching">
                                
                                <div class="content">
                                    <h3>High-performance Optimization</h3>
                                    <p>to solves the most challenging business problems</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sharing">
                                
                                <div class="content">
                                    <h3>Modular Abstractions</h3>
                                    <p>to model real-world business logic, constraints</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editing">
                                
                                <div class="content">
                                    <h3>Hardware-agnostic Software</h3>
                                    <p>running on GPUs, hybrid HPC-Quantum, and CPUs</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comments">
                                
                                <div class="content">
                                    <h3>Scalable and Production-ready</h3>
                                    <p>to integrate and deploy in existing workflows</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="tab-content solutions-tab-content wow fadeInUp delay-0-4s">
                        <div class="tab-pane fade show active" id="watching">
                            <p>Achieve breakthrough results at a fraction of compute costs and orders of magnitude faster than classical technologies. Solve problems in seconds or minutes that take days to solve.</p>
                            <div class="row mt-55">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-2s">
                                        <i class="flaticon-data-analysis"></i>
                                        <h3>Towards Optimal</h3>
                                        <p>Our solvers can obtain optimal or near-optimal solutions for large-scale problems that are not possible with classical optimization.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-4s">
                                        <i class="flaticon-monitoring"></i>
                                        <h3>Fast Time-to-Solution=</h3>
                                        <p>Solution to most complex problems can be achieved in seconds or minutes that take hours or days to solve with traditional techniques.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two wow fadeInUp delay-0-6s">
                                        <i class="flaticon-fast-delivery"></i>
                                        <h3>Large-scale Problems</h3>
                                        <p>Solve the most cmoplex real-world problems that scale to problems with millions of decision variables and constraints.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sharing">
                            <p>Achieve breakthrough results at a fraction of compute costs and orders of magnitude faster than classical technologies. Solve problems in seconds or minutes that take days to solve.</p>
                            <div class="row mt-55">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-2s">
                                        <i class="flaticon-data-analysis"></i>
                                        <h3>Base Models</h3>
                                        <p>Directly model your business problems on QpiOpt template models having pre-built combinatorial optimization base classes fine-grained hyperparameter tuning. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-4s">
                                        <i class="flaticon-monitoring"></i>
                                        <h3>QUBO Design Engine</h3>
                                        <p>Fully-featured Quadratic Unconstrained Binary Optimization (QUBO) design engine to build QUBO models with custom objective functions, constraints, and penalty terms. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-6s">
                                        <i class="flaticon-fast-delivery"></i>
                                        <h3>SDK Support</h3>
                                        <p>Supports libraries, tools, and algorithms to be integrated in Opt SDK and enable fast application development for operations research scientists, optimization engineers, and developers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="editing">
                            <p>Achieve breakthrough results at a fraction of compute costs and orders of magnitude faster than classical technologies. Solve problems in seconds or minutes that take days to solve.</p>
                            <div class="row mt-55">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-2s">
                                        <i class="flaticon-data-analysis"></i>
                                        <h3>Classical Hardware</h3>
                                        <p>Next-generation optimization performance with current-generation classical hardware. The solver runs on GPUs and CPUs and is extensible to problem-specific accelerators. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-4s">
                                        <i class="flaticon-monitoring"></i>
                                        <h3>Hybrid HPC & Quantum</h3>
                                        <p>Designed for integrating current HPC systems with quantum computers for hybrid optimization. Current softwares running on HPC can be easily ported to our hybrid systems.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-6s">
                                        <i class="flaticon-fast-delivery"></i>
                                        <h3>Bridge to Quantum</h3>
                                        <p>A plug-and-play solution to seamlessly transition to larger quantum devices without disrupting software architectures and abstractions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="comments">
                            <p>Achieve breakthrough results at a fraction of compute costs and orders of magnitude faster than classical technologies. Solve problems in seconds or minutes that take days to solve.</p>
                            <div class="row mt-55">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-2s">
                                        <i class="flaticon-data-analysis"></i>
                                        <h3>APIs</h3>
                                        <p>Our optimization service is provisioned via ready-to-integrate APIs and can be seamlessly integrated in customer's existing optimization applications. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-4s">
                                        <i class="flaticon-monitoring"></i>
                                        <h3>On-prem and Cloud</h3>
                                        <p>Fully-featured Quadratic Unconstrained Binary Optimization (QUBO) design engine to build QUBO models with custom objective functions, constraints, and penalty terms. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="service-item-two fadeInUp delay-0-6s">
                                        <i class="flaticon-fast-delivery"></i>
                                        <h3>Bridge to Quantum</h3>
                                        <p>Supports libraries, tools, and algorithms to be integrated in Opt SDK and enable fast application development for operations research scientists, optimization engineers, and developers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Services Solutions End ======-->
{% endblock content %}