{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<!--====== Projects Section Start ======-->
<section class="projects-details-section pt-120 rpt-100 rpb-75">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="hero-content mb-55">
                     <h2 class="mb-15 wow fadeInUp delay-0-4s" style="color: #031C46;">BreakThrough AutoML Tech: </h2>
                     <h2 class="mb-15 wow fadeInUp delay-0-4s"><span class="auto-type-pro" style="color: #CD3298;"></span></h2>
                 </div>
            </div>
        </div>
        <div class="project-details-content">
            <div class="image mb-55 wow fadeInUp delay-0-2s mr-50" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                <img src="assets/images/Products/pro.png" alt="Project Single">
            </div>
            <div class="row pb-30">
                <div class="col-lg-4">
                    <div class="project-information bg-blue text-white mb-50 mr-xl-5 wow fadeInDown delay-0-2s">
                        <h3 class="project-info-title"><a href="https://qpiai-pro.tech/">QpiAI-Pro</a></h3>
                        <div class="project-info-item">
                            <span>End-to-End AutoML and MLOps platform for</span>
                            <h4>creating and deploying AI models at scale</h4>
                        </div>
                        <div class="project-info-item">
                            <span>Performance Advantage</span>
                            <h4>Collaborative no-code platform, Opportunistic On-premise deployment, Scalable across domains</h4>
                        </div>
                        <div class="project-info-item">
                            <span>For More information visit:</span>
                            <h4>https://qpiai-pro.tech/</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="project-content-one mr-xl-5 wow fadeInUp delay-0-2s">
                        <h2>Introduction</h2>
                        <p class="big-letter">QpiAI<sup>TM</sup> Pro is the most collaborative platform to invent, build and deploy AI models in production. Create futuristic innovations in AI by running the platform at functionalities optimized for your enterprise data center. QpiAI<sup>TM</sup> Pro is equipped with the patented search-space reduction algorithms that utilize the rich contextual information about use case specific domains and subdomains to efficiently discover the best-performing model with the help of AutoML and advanced techniques like Neural Architecture Search. Trained models could be easily deployed and observed across platforms - edge devices or enterprise data center / public cloud.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== Projects Section End ======-->

<!--====== Services Solutions Start ======-->
<section class="services-solutions rel z-1 py-20 rpy-100">
    <div class="container">
       <div class="row justify-content-center text-center">
           <div class="col-xl-6 col-lg-8 col-md-10">
               <div class="section-title mb-60">
                    <span class="sub-title">Our Differentiated Solution</span>
                    <h2>We Customize Your Software to The Smart Ways</h2>
                </div>
           </div>
       </div>
        <div class="solutions-tab pb-100">
            <div class="row">
                <div class="col-xl-4">
                    <ul class="nav solutions-tab-nav nav-pills flex-xl-column nav-fill mb-50 wow fadeInUp delay-0-2s">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#watching">
                                
                                <div class="content">
                                    <h3>Game Changing Features</h3>
                                    <p>to take care of your end-to-end AI modelling pipeline</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sharing">
                                
                                <div class="content">
                                    <h3>Drive your success</h3>
                                    <p>with tailored features</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editing">
                                
                                <div class="content">
                                    <h3>Powerful Funtionality</h3>
                                    <p>tt your finger tips</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="tab-content solutions-tab-content wow fadeInUp delay-0-4s">
                        <div class="tab-pane fade show active container" id="watching">
                            <p>QpiAI Pro’s intelligent scheduler optimizes for data-center utilization by allocating heavy workloads to under-utilized nodes, slashing the energy cost by upto 40%. Users need not worry about setting up the hardware/workload management and on-premise processing means that sensitive data never leaves the confines of the enterprise data center.</p>
                            <ul class="list-style-one">
                                <li>Rich Library of Base Models</li>
                                <p>Rapidly prototype and build AI models from a rich collection of base models for a variety of tasks. Also, collaboratively build custom models for a particular domain/sub-domain and add to the collection of base models to let fellow colleagues search for solutions faster.</p>
                                <li>Deploy models anywhere</li>
                                <p>Deploy the trained models across devices from GPU/CPU cloud nodes to low powered edge devices. Better still, deploy models on public cloud / enterprise data center or client’s data center, QpiAI Pro platform takes ease of deployment to the next level with multi-node auto-scale feature on streaming data.</p>
                                <li>Monitoring and Observability</li>
                                <p>Customize alerts and notifications related to system health of the infrastructure supporting deployed models and track important incidents, ensuring timely resolution and reduced business impact. An insight rich monitoring tool helps analyze the model performance and identify data difts in model features to ascertain the cause of performance degradation on a real time basis.</p>
                            </ul>
                        </div>
                        <div class="tab-pane fade container" id="sharing">
                            <ul class="list-style-one">
                                <li>Device tailored models</li>
                                <p>Discover newer architectures while training latency optimized models which are tailored for deployment on custom devices ranging from edge devices like Jetson Nano to multi core GPU machines.</p>
                                <li>Multi-node model deployment</li>
                                <p>Supports high throughput real-time predictions with auto scaling across data types with configurable nodes up to 10 per model deployment.</p>
                                <li>Edge Deployment Infrastructure Manager</li>
                                <p>Seamlessly deploy models across multiple edge devices grouped into specific projects. Monitor the system health of each device and easily collect model inference through an endpoint.</p>
                                <li>Encrypted models</li>
                                <p>SHA 256 encryption ensures integrity and security of all QpiAI Pro models trained on sensitive, proprietary data; preventing misuse by non-authorised individuals and reverse engineering of model weights.</p>
                            </ul>
                        </div>
                        <div class="tab-pane fade container" id="editing">
                            <ul class="list-style-one">
                                <li>End to End AI Modelling Redefined.</li>
                                <p>QpiAi™ Pro is one platform for all AI needs. It has everything in-built for standalone AI modeling applications - right from Data Preparation, Model Generation with AutoML, new AI Model Architecture Discovery, Deployment capabilities across enterprise data enter / cloud platforms and edge devices along with system and model performance monitoring.</p>
                                <li>ML / AI Advanced Computation Simplified.</li>
                                <p>Create the best optimized AI/ML model for your domain and sub-domain leveraging our AutoML capabilities, which is based on domain-specific model discovery and optimization.</p>
                                <li>Run Multiple ModelsContainerized</li>
                                <p>All functionalities in  QpiAi™ Pro are mapped to microservices to enable compute scalability and parallelism. Get containerized backend with complete cloud & enterprise data center support to aid model sharing & co-development with the professional community.</p>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Services Solutions End ======-->
{% endblock content %}