{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<!--====== Single Service Start ======-->

<section class="services-solutions rel z-1 pt-120 pb-80 py-20 rpy-100">
    <div class="container">
        <!-- heading start -->
       <div class="row justify-content-center text-center">
           <div class="col-xl-6 col-lg-8 col-md-10">
               <div class="section-title mb-60">
                    <span class="sub-title">Our Special Solutions</span>
                    <h2>We Customize Your Software to The Smart Ways</h2>
                </div>
           </div>
       </div>
       <!-- heading end -->
       <!-- image -->
       <div class="project-details-content">
            <div class="image mb-55 wow fadeInUp delay-0-2s">
                <img src="assets/images/Products/usecase.png" alt="Project Single">
            </div>
        </div>


       <!-- section start -->
       <div class="solutions-tab">
            <div class="row">

                <!-- left column start -->
                <div class="col-xl-4 service-list">
                    <ul class="nav solutions-tab-nav nav-pills flex-xl-column nav-fill mb-30 wow fadeInUp delay-0-2s">
                        <li class="nav-item " style="margin-bottom:12px">
                            <a class="nav-link active" data-toggle="tab" href="#logistics" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Logistics and Distribution 
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Supply" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Supply Chain Management
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Banking" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Banking and Financial Services
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Healthcare" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Healthcare & Pharmaceuticals
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Energy" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Energy, Oil & Gas
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Automotive" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Automotive
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Manufacturing" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Manufacturing & Production
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Smart" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Smart City and Mobility
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Aviation" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Aviation
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Space" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Space Technology
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-bottom:12px">
                            <a class="nav-link" data-toggle="tab" href="#Telecommunications" style="height: 50px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="content">
                                    Telecommunications
                                </div>
                                <div class="shiftToRight"> 
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- left column end -->

                <!-- Right column start -->
                <div class="col-xl-8 container">
                    <div class="tab-content solutions-tab-content wow fadeInUp delay-0-4s">

                        <div class="tab-pane fade show active" id="logistics">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Vehicle Routing</p>
                                <p>Workforce Scheduling</p>
                                <p>Resource Allocation</p>
                                <p>Shipment Planning</p>
                                <p>Real-Time Dispatching</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Demand Forecasting</p>
                                <p>Anomaly Detection</p>
                                <p>Fleet Management</p>
                                <p>Autonomous Delivery</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Supply">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Supply Chain Network Design</p>
                                <p>Transportation Mode Selection</p>
                                <p>Supplier Selection</p>
                                <p>Labor Strategy Optimization</p>
                                <p>Revenue Management</p>
                                <p>Capacity Planning</p>
                                <p>What-if Analysis</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Freight Forecasting</p>
                                <p>Anomaly Detection</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Banking">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Portfolio Optimization</p>
                                <p>Transaction Settlement</p>
                                <p>Collateral Allocation</p>
                                <p>Hedging Strategies</p>
                                <p>Asset-Liability Management</p>
                                <p>Systemic Risk Management</p>
                                <p>Optimal Arbitrage</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Financial Forecasting</p>
                                <p>Credit Scoring</p>
                                <p>Fraud Detection</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Derivative Pricing</p>
                                <p>Risk Analysis</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Healthcare">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Drug Similarity Search</p>
                                <p>Structural Design Optimization</p>
                                <p>Genome Sequencing</p>
                                <p>MRI imaging</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Lead Identification</p>
                                <p>Side effect prediction</p>
                                <p>Affinity prediciton</p>
                                <p>Personalised medicine</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Target Identification</p>
                                <p>Lead Identification</p>
                                <p>Lead Optimization</p>
                                <p>Docking Simulations</p>
                                <p>Structure Determination</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Automotive">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Sensor Position Optimization</p>
                                <p>Factory Floor Planning</p>
                                <p>Robotic Process Optimization</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Fluid Dynamics Simulations</p>
                                <p>Digital Twins</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Manufacturing">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Process Optimization</p>
                                <p>Factory Floor Planning</p>
                                <p>Design process Optimization</p>
                                <p>Inventory Optimization</p>
                                <p>Supply Chain Optimization</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Predictive Maintenance</p>
                                <p>Anomaly Detection</p>
                                <p>Quality Control</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Digital Twins</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Smart">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Traffic Flow Optimization</p>
                                <p>Intelligent Traffic Control</p>
                                <p>Dynamic Scheduling</p>
                                <p>Infrastructure Layouting</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Predictive Maintenance</p>
                                <p>Anomaly Detection</p>
                                <p>Demand Forecasting</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Network-wide Simulation</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Energy">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>CCSTU Networks</p>
                                <p>Energy Grid Optimisation</p>
                                <p>Smart Grid Management</p>
                                <p>Process Optimization</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Novel Catalyst Discovery</p>
                                <p>Predictive Maintenance</p>
                                <p>Anomaly Detection</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Fule Property Simulation</p>
                                <p>Carbon Capture Materials</p>
                                <p>Green Hydrogen Materials</p>
                                <p>O&G Wells Simulation</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Aviation">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Gate Scheduling</p>
                                <p>Cargo Loading</p>
                                <p>Flight Trajectory</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Space">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Server Job Scheduling</p>
                                <p>Network Communication</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Simulation</h3>
                            <div class="enhance-content">
                                <p>Material Property</p>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Telecommunications">
                            <h3 class="enhance-content-h3">Quantum Optimization</h3>
                            <div class="enhance-content">
                                <p>Infrastructure Layouting</p>
                                <p>RWA</p>
                                <p>Network Design</p>
                                <p>Large-scale MIMO Decoding</p>
                                <p>Spectrum Management</p>
                                <p>Cell Channel Allocation</p>
                                <p>Network Congestion</p>
                            </div>
                            <h3 class="enhance-content-h3">Quantum Machine Learning</h3>
                            <div class="enhance-content">
                                <p>Radio Access Networks</p>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- right column end -->
            </div>
        </div>
        <!-- section end -->
    </div>
</section>

<!--====== Single Service End ======-->
{% endblock content %}